<div class="red-border"></div>
<div class="indigo-border"></div>
<div class="yellow-border ma-btlg"></div>

<div class="container">   
  <h1 class="al-c ma-btsm">RAINBOW-CR</h1>
  <h4 class="al-c ma-zero">Rainbow Grocery product lookup</h4>

  <div class="al-c ma-tplg">
    <p class="ma-btme">Can't remember what you bought? <br>Enter the product code.</p>
    <form action='/' method='get' >
      <input type="text" name='number' placeholder="Product Code" class="input-text">
      <input type="submit" name="Search" class="input-submit">
    </form>
  </div>

  <div class="al-c ma-tplg">
    <p class="ma-btme">
    <%= form_for @plu do |f| %>
      Take a photo of a Rainbow Grocery product label:
      <%= f.file_field :image, "capture" => "camera", :class => "input-file" %>
    <br />
      Tell us the four digit code (or don't, and we'll ask the computer to read for itself):
      <%= f.text_field :number, :placeholder => "Product Number (optional)" -%>
    <br />
      <%= f.submit class: "btn input-submit ma-tpme" %>
    <br />
      We'll make it searchable.
    <% end %>
  </div>

  <div class="al-c">
    <% if flash[:success] %>
      <p class="flash-notice"><%= flash[:success] %></p>
    <% end %>
  </div>

  <img id="yourimage">

  <div class="al-c ma-btsm">
    <%- if @codes.present? -%>
      <%= results(@codes) -%>
    <%- end %>
  </div>

  <footer class="al-l brd-tp">
    <div>
      <p class="ft-sm">Made by Brian Schroer and Jesse Sanford.<br> Check out <a href="http://www.rainbow.coop" style="">Rainbow Grocery</a></p>
    </div>
  </footer>

</div>